In [1]:
#Indexing
a = "Hello"
print(a[0])

H

In [2]:
print(a[-1])

o

In [3]:
mystring = ("Hello World")

In [4]:
mystring[0]

'H'

In [5]:
mystring[-3]

'r'

In [6]:
len(mystring)

11

In [7]:
#Slicing

In [8]:
mystring= "abcdefghijk"

In [9]:
mystring[:3]

'abc'

In [10]:
#Grab def
mystring[3:6]

'def'

In [11]:
mystring[1:3]

'bc'

In [13]:
#Grab ijk
mystring[8:]

'ijk'

In [14]:
mystring[::2] #Step size of 2

'acegik'

In [15]:
mystring

'abcdefghijk'

In [16]:
#Concatonation +

In [18]:
name="Sam"

In [21]:
last_letters = name[1:]

In [22]:
last_letters

'am'

In [23]:
"P" + last_letters

'Pam'

In [24]:
#Concatonation 2 + 
x = "Hello World"

In [27]:
x = x + " It is beautiful outside"

In [28]:
x

'Hello World It is beautiful outside'

In [29]:
#Concatonation *
letter = "z"

In [30]:
letter * 10

'zzzzzzzzzz'

In [31]:
#Cool Concatonation 
2+2

4

In [32]:
'2' + '3'

'23'

In [33]:
#Built in methods
x = "Hello World"
#Upper case everything
x.upper()

'HELLO WORLD'

In [38]:
x #Does not affect the actual version of x

'Hello World'

In [39]:
#Default split does it between white spaces 
x.split()

['Hello', 'World']

In [41]:
#Split by a string element
x.split('W')

['Hello ', 'orld']

In [42]:
#Print formatting with .format

In [45]:
print('Hello {}'.format('World'))

Hello World

In [46]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [48]:
#More readable 
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [51]:
result = 100/777

In [53]:
print("The result was: {r:}".format(r=result))

The result was: 0.1287001287001287

In [54]:
#value:width.precisionf
print("The result was: {r:1.3f}".format(r=result))

The result was: 0.129

In [57]:
#Print formatting f'
name = 'Peter'

In [58]:
print(f'His name is {name}')

His name is Peter

In [61]:
age = 23

In [62]:
print(f'His name is {name} and he is {age} years old')

His name is Peter and he is 23 years old

In [63]:
#Lists

In [64]:
mylist = [1,2,3]

In [65]:
len(mylist)

3

In [72]:
mylist = ["one","two","three"]

In [73]:
mylist[0]

'one'

In [74]:
mylist[1:]

['two', 'three']

In [75]:
secondlist = ["four","five"]

In [76]:
newlist = mylist + secondlist

In [77]:
newlist

['one', 'two', 'three', 'four', 'five']

In [78]:
newlist[0] = 'ONE'

In [79]:
newlist

['ONE', 'two', 'three', 'four', 'five']

In [80]:
newlist.append('six')

In [81]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six']

In [82]:
 newlist.pop()

'six'

In [83]:
popped_item = newlist.pop()

In [84]:
newlist.pop(0)

'ONE'

In [85]:
newlist

['two', 'three', 'four']

In [86]:
#sort
sortlist = ['a','x','g','l']
sortlist2 = [4,7,1,8]

In [87]:
sortlist.sort()

In [88]:
sortlist

['a', 'g', 'l', 'x']

In [89]:
sortlist2.sort()

In [90]:
sortlist2
#MAGIC

[1, 4, 7, 8]

In [91]:
#Dictionaries 
my_dict = {"key1":"value1","key2":"value2"}

In [92]:
my_dict["key1"]

'value1'

In [95]:
price_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [96]:
price_lookup['apple']

2.99

In [98]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [99]:
d['k2']

[0, 1, 2]

In [103]:
#grab 100
d['k3']['insidekey']

100

In [101]:
#grab 2
d['k2'][2]

2

In [104]:
newdict={'k1':100,'k2':'nice'}

In [106]:
newdict['k2'].upper()

'NICE'

In [108]:
newdict['k1'] += 50

In [109]:
newdict

{'k1': 150, 'k2': 'nice'}

In [111]:
#adding items to dictionary 
adict = {'k1':100,'k2':200}

In [112]:
adict['k3']=300

In [113]:
adict

{'k1': 100, 'k2': 200, 'k3': 300}

In [114]:
adict['k1'] = 9000

In [115]:
adict

{'k1': 9000, 'k2': 200, 'k3': 300}

In [116]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [117]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [119]:
#Tuple Time
t = (1,2,3)

In [120]:
mylist = [1,2,3]

In [121]:
type(t)

tuple

In [122]:
type(mylist)

list

In [123]:
len(t)

3

In [124]:
len(mylist)

3

In [125]:
print(t[0])

1

In [126]:
print(t[-1])

3

In [127]:
t = ('a','a','b')

In [128]:
t.count('a')

2

In [129]:
t.index('b')

2

In [ ]:
#Remember tuples are immutable 
t[0] = "NEW" 
TypeError: 'tuple' object does not support item assignment

In [132]:
#Sets

In [133]:
myset = set()

In [134]:
myset.add(1)

In [135]:
myset

{1}

In [136]:
myset.add(2)

In [137]:
myset

{1, 2}

In [138]:
mylist = [1,1,1,1,1,2,2,2,3,3]

In [139]:
set(mylist)

{1, 2, 3}

In [140]:
#Booleans

In [141]:
2>3

False

In [142]:
False

False

In [143]:
type(False)

bool

In [144]:
1 == 1

True

In [145]:
#None placeholder

In [146]:
b = None

In [147]:
type(b)

NoneType

In [148]:
#Files

In [150]:
%%writefile myfile.txt
Hello this is a text file
This is the second line
This is the third line

Writing myfile.txt

In [155]:
myfile = open('myfile.txt')

In [154]:
pwd

'C:\\Users\\18687\\Desktop\\Complete-Python-3-Bootcamp-master\\00-Python Object and Data Structure Basics'

In [156]:
myfile = open('myfile.txt')

In [157]:
myfile.read()

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [158]:
myfile.seek(0)

0

In [159]:
myfile.readlines()

['Hello this is a text file\n',
 'This is the second line\n',
 'This is the third line\n']

In [160]:
pwd

'C:\\Users\\18687\\Desktop\\Complete-Python-3-Bootcamp-master\\00-Python Object and Data Structure Basics'

In [161]:
myfile.close()

In [162]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [163]:
contents

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [165]:
with open('myfile.txt',mode='r') as myfile:
    content = myfile.read()

In [166]:
content

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [167]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [168]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [169]:
with open ('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [170]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [171]:
with open('iwfuhj.txt',mode='w') as f:
    f.write('Just created this file')

In [172]:
with open('iwfuhj.txt',mode='r') as f:
    print(f.read())

Just created this file

In [ ]:
#Note all the files we created are in this folder